{% extends 'web/base.html' %}
{% load static %}
{% block content %}


<!-- Start Page Title Area -->
<div class="page-title-area item-bg1 jarallax" data-jarallax='{"speed": 0.3}'>
    <div class="container">
        <div class="page-title-content">
            <ul>
                <li><a href="/">Home</a></li>
                <li>About</li>
            </ul>
            <h2>About Us</h2>
        </div>
    </div>
</div>
<!-- End Page Title Area -->

<!-- Start About Area -->
<section class="about-area ptb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="about-image">
                    <img src="{% static 'web/img/about/1.jpg' %}" class="shadow" alt="image">
                    <img src="{% static 'web/img/about/2.jpg' %}" class="shadow" alt="image">
                </div>
            </div>

            <div class="col-lg-6 col-md-12">
                <div class="about-content">
                    <span class="sub-title">About Us</span>
                    <h2>Learn New Skills to go ahead for Your Career</h2>
                    <h6>We can support student forums 24/7 and monitor your academic excellence.
                    </h6>
                    <p style="text-align:justify">British academy in Kozhikode is one of the leading enterprises in the
                        language classes for English. Also delivers courses for IELTS tutorials, language classes for
                        English, language classes for English conversation, English language classes for children,
                        language classes for Hindhi conversations, language classes for Arabics, institutes for IELTS,
                        IELTS test centres, and much more. We welcome learning enthusiasts for uncovering new chapters
                        of knowledge.</p>

                    <div class="features-text">
                        <h5><i class='bx bx-planet'></i>A place where you can achieve</h5>
                        <p>Education encompasses both the teaching and learning of knowledge, proper conduct, and
                            technical competency.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="about-inner-area">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="about-text">
                        <h3>Online Courses</h3>
                        <p>Best rate online courses for securing your career growth and future.
                        </p>

                        <ul class="features-list">
                            <li><i class='bx bx-check'></i>Language classes & IELTS</li>
                            <li><i class='bx bx-check'></i> Medical coding </li>
                            <li><i class='bx bx-check'></i> Graphic designing</li>
                            <li><i class='bx bx-check'></i> Digital marketing</li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="about-text">
                        <h3>Expert Instruction</h3>
                        <p>Best quality instructions for your professional excellence.
                        </p>

                        <ul class="features-list">
                            <li><i class='bx bx-check'></i> Best syllabus</li>
                            <li><i class='bx bx-check'></i> Better methods</li>
                            <li><i class='bx bx-check'></i> Finest strategies</li>
                            <li><i class='bx bx-check'></i> Creating results</li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-0 offset-md-3 offset-sm-3">
                    <div class="about-text">
                        <h3>Professional Mentors
                        </h3>
                        <p>Dedicated and qualified mentors for your best education.
                        </p>

                        <ul class="features-list">
                            <li><i class='bx bx-check'></i> Skilled mentors</li>
                            <li><i class='bx bx-check'></i> Proper monitoring</li>
                            <li><i class='bx bx-check'></i> Secure future</li>
                            <li><i class='bx bx-check'></i> Best learning experience</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End About Area -->

<!-- Start Mission Area -->
<section class="mission-area ptb-100 jarallax" data-jarallax='{"speed": 0.3}'>
    <div class="container">
        <div class="mission-content">
            <div class="section-title text-left">
                <span class="sub-title">Discover Mission</span>
                <h2>Why our platform in better</h2>
            </div>

            <div class="mission-slides owl-carousel owl-theme">
                <div>
                    <h3>Reach the greater heighter of your future</h3>
                    <p>British Academy is the leading online course provider in Kozhikode that delivers an excellent
                        platform for building your career. Secure your career with us and step into your brighter
                        future.</p>
                    <p>Learn with British Academy to shine out from the competitors. We will guide you in the path of
                        your career growth. Start learning with us and start building your career.
                    </p>
                    <a href="about-style-1.html" class="default-btn"><i
                            class='bx bx-user-pin icon-arrow before'></i><span class="label">Learn More</span><i
                            class="bx bx-user-pin icon-arrow after"></i></a>
                </div>

                <div>
                    <h3>Best assistance for your career growth</h3>
                    <p>We know you have more dreams about your brighter future. We are here to give life to the future.
                        Over the course of its journey, this business has established a firm foothold in its industry.
                    </p>
                    <p>This well-known establishment acts as a one-stop destination servicing customers both local and
                        from other parts of Kerala. Select your preferred course and secure your career growth with
                        British Academy.
                    </p>
                    <a href="about-style-2.html" class="default-btn"><i
                            class='bx bx-user-pin icon-arrow before'></i><span class="label">Learn More</span><i
                            class="bx bx-user-pin icon-arrow after"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Mission Area -->

<!-- Start Story Area -->
<section class="story-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-12">
                <div class="section-title text-left">
                    <h2>Our Story</h2>
                </div>
            </div>

            <div class="col-lg-8 col-md-12">
                <div class="story-content">
                    <h3>Our journey in furnishing career</h3>
                    <p>British Academy was established in the year 1999, in Mavoor Road, Kozhikode. This well-known
                        online course provider in Kozhikode is a top player in the category of Language Classes For
                        English.
                    </p>
                    <h3>A Classical Education for the Future</h3>
                    <p>Education is freedom and education will give you wings to leap into the brighter side of your
                        future. Our mission is to deliver the best education for all learning enthusiasts. We have a
                        team of well educated and dedicated mentors to ensure your academic excellence. With proper
                        education, you can bring your dream to life.</p>
                    <h3>A Journey to Excellence</h3>
                    <p>The turning point of life comes when you decide on your career. Pick your favoured career and we
                        will assist you in reaching glory. We aim to guide every student to attain career growth and
                        professional excellence.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Story Area -->

<!-- Start Funfacts Area -->
<section class="funfacts-area">
    <div class="container">
        <div class="funfacts-inner">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-6">
                    <div class="single-funfact">
                        <div class="icon">
                            <i class='bx bxs-group'></i>
                        </div>
                        <h3 class="odometer" data-count="50">00</h3>
                        <p>Expert Instructors</p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-6">
                    <div class="single-funfact">
                        <div class="icon">
                            <i class='bx bx-book-reader'></i>
                        </div>
                        <h3 class="odometer" data-count="1754">00</h3>
                        <p>Total Courses</p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-6">
                    <div class="single-funfact">
                        <div class="icon">
                            <i class='bx bx-user-pin'></i>
                        </div>
                        <h3 class="odometer" data-count="8190">00</h3>
                        <p>Happy Students</p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-6">
                    <div class="single-funfact">
                        <div class="icon">
                            <i class='bx bxl-deviantart'></i>
                        </div>
                        <h3 class="odometer" data-count="654">00</h3>
                        <p>Creative Events</p>
                    </div>
                </div>
            </div>

            <div id="particles-js-circle-bubble"></div>
        </div>
    </div>
</section>
<!-- End Funfacts Area -->

<!-- Start Our Values Area -->
<section class="values-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-12">
                <div class="section-title text-left">
                    <h2>Our Values</h2>
                </div>
            </div>

            <div class="col-lg-8 col-md-12">
                <div class="values-content">
                    <h3>A success-oriented learning environment</h3>
                    <p>We wanted to offer a platform that makes it simple for students to learn and make them
                        enthusiasts of knowledge. After years in the education industry, we realized that every student
                        is capable of chasing their dreams and all they need is a little push and proper education.
                    </p>
                    <h3>Academic excellence and career growth
                    </h3>
                    <p>We are aware of your future and your dreams. We value your interests and aspiration for learning.
                        As a leading course provider in Kozhikode, we aim to deliver the best education for students to
                        achieve academic excellence and career growth.
                    </p>
                    <h3>Advanced teaching methods
                    </h3>
                    <p>Information is always the same but the way of presentation is also matters. We have professional
                        mentors to deliver exceptional teaching methods to ensure your career excellence. Trust us your
                        career is safe in our hands with your dedication, you can reach heights in your career.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Our Values Area -->


{% comment %}
<!-- Start Team Area -->
<section class="team-area pb-100">
    <div class="container">
        <div class="section-title">
            <span class="sub-title">Make Connections</span>
            <h2>Team of Instructors</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut nisi ut aliquip ex ea.</p>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-instructor-member mb-30">
                    <div class="member-image">
                        <img src="{% static 'web/img/team/1.jpg' %}" alt="images">
                    </div>

                    <div class="member-content">
                        <h3><a href="single-instructor.html">Jonkin Jullinor</a></h3>
                        <span>OOP Developer</span>

                        <ul class="social">
                            <li><a href="#" class="facebook" target="_blank"><i class='bx bxl-facebook'></i></a></li>
                            <li><a href="#" class="twitter" target="_blank"><i class='bx bxl-twitter'></i></a></li>
                            <li><a href="#" class="instagram" target="_blank"><i class='bx bxl-instagram'></i></a></li>
                            <li><a href="#" class="linkedin" target="_blank"><i class='bx bxl-linkedin'></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-instructor-member mb-30">
                    <div class="member-image">
                        <img data-cfsrc="{% static 'web/img/team/2.jpg' %}" alt="images"
                            style="display:none;visibility:hidden;"><img src="{% static 'web/img/team/2.jpg' %}"
                            alt="images">
                    </div>

                    <div class="member-content">
                        <h3><a href="single-instructor.html">Sarah Taylor</a></h3>
                        <span>Angular Developer</span>

                        <ul class="social">
                            <li><a href="#" class="facebook" target="_blank"><i class='bx bxl-facebook'></i></a></li>
                            <li><a href="#" class="twitter" target="_blank"><i class='bx bxl-twitter'></i></a></li>
                            <li><a href="#" class="instagram" target="_blank"><i class='bx bxl-instagram'></i></a></li>
                            <li><a href="#" class="linkedin" target="_blank"><i class='bx bxl-linkedin'></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-0 offset-md-3 offset-sm-3">
                <div class="single-instructor-member mb-30">
                    <div class="member-image">
                        <img src="{% static 'web/img/team/3.jpg' %}" alt="images">
                    </div>

                    <div class="member-content">
                        <h3><a href="single-instructor.html">David Warner</a></h3>
                        <span>PHP Developer</span>

                        <ul class="social">
                            <li><a href="#" class="facebook" target="_blank"><i class='bx bxl-facebook'></i></a></li>
                            <li><a href="#" class="twitter" target="_blank"><i class='bx bxl-twitter'></i></a></li>
                            <li><a href="#" class="instagram" target="_blank"><i class='bx bxl-instagram'></i></a></li>
                            <li><a href="#" class="linkedin" target="_blank"><i class='bx bxl-linkedin'></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="team-btn-box text-center">
                    <a href="team-1.html" class="default-btn"><i class='bx bx-show-alt icon-arrow before'></i><span
                            class="label">Meet All Instructor</span><i class="bx bx-show-alt icon-arrow after"></i></a>
                </div>
            </div>
        </div>
    </div>

    <div id="particles-js-circle-bubble-3"></div>
</section>
<!-- End Team Area -->

<!-- Start Partner Area -->
<section class="partner-area bg-color ptb-100">
    <div class="container">
        <div class="section-title">
            <h2>Our Company & Partners</h2>
        </div>

        <div class="partner-slides owl-carousel owl-theme">
            <div class="single-partner-item">
                <a href="#" class="d-block">
                    <img src="{% static 'web/img/partner/1.png' %}" alt="image">
                </a>
            </div>

            <div class="single-partner-item">
                <a href="#" class="d-block">
                    <img src="{% static 'web/img/partner/2.png' %}" alt="image">
                </a>
            </div>

            <div class="single-partner-item">
                <a href="#" class="d-block">
                    <img src="{% static 'web/img/partner/3.png' %}" alt="image">
                </a>
            </div>

            <div class="single-partner-item">
                <a href="#" class="d-block">
                    <img src="{% static 'web/img/partner/4.png' %}" alt="image">
                </a>
            </div>

            <div class="single-partner-item">
                <a href="#" class="d-block">
                    <img src="{% static 'web/img/partner/5.png' %}" alt="image">
                </a>
            </div>

            <div class="single-partner-item">
                <a href="#" class="d-block">
                    <img src="{% static 'web/img/partner/6.png' %}" alt="image">
                </a>
            </div>
        </div>
    </div>
</section>
<!-- End Partner Area -->
{% endcomment %}


<!-- Start Testimonials Area -->
<section class="testimonials-area ptb-100">
    <div class="container">
        <div class="section-title">
            <span class="sub-title">Testimonials</span>
            <h2>What Students Says</h2>
        </div>

        <div class="testimonials-slides owl-carousel owl-theme">
            {% for testimonial in testimonials %}
            <div class="single-testimonials-item">
                <p>{{testimonial.description}}</p>

                <div class="info">
                    <img src="{{testimonial.image.crop.300x300}}" class="shadow rounded-circle" alt="image">
                    <h3>{{testimonial.name}}</h3>
                    <span>{{testimonial.designation}}</span>
                </div>
            </div>
            {% endfor %}



        </div>
    </div>
</section>
<!-- End Testimonials Area -->

<!-- Start Become Instructor & Partner Area -->
<section class="become-instructor-partner-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="become-instructor-partner-content bg-color">
                    <h2>Become an Instructor</h2>
                    <p>If you are talented in educating students British Academy is the perfect place for you.</p>
                    <a href="#" class="default-btn"><i class='bx bx-plus-circle icon-arrow before'></i><span
                            class="label">Apply Now</span><i class="bx bx-plus-circle icon-arrow after"></i></a>
                </div>
            </div>

            <div class="col-lg-6 col-md-6">
                <div class="become-instructor-partner-image bg-image1 jarallax" data-jarallax='{"speed": 0.3}'>
                    <img data-cfsrc="{% static 'web/img/become-instructor.jpg' %}" alt="image"
                        style="display:none;visibility:hidden;"><img src="{% static 'web/img/become-instructor.jpg' %}"
                        alt="image">
                </div>
            </div>

            <div class="col-lg-6 col-md-6">
                <div class="become-instructor-partner-image bg-image2 jarallax" data-jarallax='{"speed": 0.3}'>
                    <img data-cfsrc="{% static 'web/img/become-partner.jpg' %}" alt="image"
                        style="display:none;visibility:hidden;"><img src="{% static 'web/img/become-partner.jpg' %}"
                        alt="image">
                </div>
            </div>

            <div class="col-lg-6 col-md-6">
                <div class="become-instructor-partner-content">
                    <h2>Become a Student</h2>
                    <p>If you are a learning enthusiast you are in right place for your best education.
                    </p>
                    <a href="#" class="default-btn"><i class='bx bx-plus-circle icon-arrow before'></i><span
                            class="label">Contact Us</span><i class="bx bx-plus-circle icon-arrow after"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Become Instructor & Partner Area -->

<section class="contact-info-area pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <span class="sub-title">Branches</span>
            <h2>Our Branches</h2>
        </div>
        <div class="row justify-content-center">


            {% for branche in branches %}
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="contact-info-box mb-30">
                    <a href="{{branche.location}}">
                    <div class="icon">  
                            <i class='bx bx-map'></i>
                    </div>
                </a>
                    <h3> {{branche.name}}</h3>
                    <!-- <p><a href=""><span >ss</span></a></p>
                            <p><a href=""><span >ss</span></a></p> -->
                </div>
            </div>

{% endfor %}

        </div>
    </div>

    <div id="particles-js-circle-bubble-2"></div>
</section>

{% endblock %}