<!doctype html>
<html lang="zxx">

<head>
    {% load static %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Links of CSS files -->

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">


    <link rel="stylesheet" href="{% static 'web/css/bootstrap..min.css' %}">
    <link rel="stylesheet" href="{% static 'web/css/boxicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'web/css/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'web/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'web/css/odometer.min.css' %}">
    <link rel="stylesheet" href="{% static 'web/css/meanmenu.min.css' %}">
    <link rel="stylesheet" href="{% static 'web/css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'web/css/nice-select.min.css' %}">
    <link rel="stylesheet" href="{% static 'web/css/viewer.min.css' %}">
    <link rel="stylesheet" href="{% static 'web/css/slick.min.css' %}">
    <link rel="stylesheet" href="{% static 'web/css/magnific-popup.min.css' %}">
    <link rel="stylesheet" href="{% static 'web/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'web/css/responsive.css' %}">

    <title>British Academy</title>

    <link rel="icon" type="image/png" href="{% static 'web/img/favicon.png' %}">
</head>

<body>

    <!-- Preloader -->
    <!-- <div class="preloader">
        <div class="loader">
            <div class="shadow"></div>
            <div class="box"></div>
        </div>
    </div> -->
    <!-- End Preloader -->
    {% include 'web/partials/header.html' %}
    {% block content %}


    {% endblock %}
    {% include 'web/partials/footer.html' %}

    <div class="go-top"><i class='bx bx-up-arrow-alt'></i></div>

    <!-- <a href="https://wa.me/919747513123" class="whatsapp" target="blank">

        <div>
            New batches today
        </div>
     
    </a>
    <a href="https://wa.me/919747513123" class="whatsapp" target="blank">

        <div>
            Join now
        </div>
       
    </a> -->




    <!-- <div class="join-now">
        <div class="text-end">
            <div class="batch-start">New batches started</div>
            <h6 class="seat-left pb-3">only 20 seats left</h6>
        </div>
        <div class="text-end join-btn-div">
            <a href="https://wa.me/919747513123?text=Hi,I would%20like%20to%20know%20more%20about%20the%20course,"
                class="join-btn ">
                Join Now
            </a>
        </div>



    </div> -->

    


    <div class="ba-we-love-subscribers-wrap">
        <div class="ba-we-love-subscribers popup-ani">
            <header>
                <h1>New Batches Started</h1>
                <h6 class="seats">only 20 seats left</h6>
            </header>
        
            <div class="join-now">
                <a class="join-now-btn"  href="https://wa.me/919747513123?text=Hi,%20I%20would%20like%20to%20know%20more%20about%20the%20course">Join Now</a>

            </div>
        </div>
        <div class="ba-we-love-subscribers-fab">
            <div class="wrap">
                <div class="">Join Now</div>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script>
        $(".ba-we-love-subscribers-fab").click(function () {
            $('.ba-we-love-subscribers-fab .wrap').toggleClass("ani");
            $('.ba-we-love-subscribers').toggleClass("open");
            $('.img-fab.img').toggleClass("close");
        });
    </script>



    <a href="tel:+919747513123" class="call">
        <img src="{% static 'web/img/phone.png' %}" alt="Call">
    </a>

    <a href="https://wa.me/919747513123" class="whatsapp" target="blank">
        <img src="{% static 'web/img/whatsapp.png' %}" alt="whatsapp">
    </a>

    <!-- <a href="tel:+919747513123" class="whatsapp" target="blank">
        <img src="{% static 'web/img/callbutton.png' %}" alt="call">
    </a> -->


    <!-- Links of JS files -->
    <!-- <script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js' %}"></script> -->
    <script src="{% static 'web/js/jquery.min.js' %}"></script>
    <script src="{% static 'web/js/popper.min.js' %}"></script>
    <script src="{% static 'web/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'web/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'web/js/mixitup.min.js' %}"></script>
    <script src="{% static 'web/js/parallax.min.js' %}"></script>
    <script src="{% static 'web/js/jquery.appear.min.js' %}"></script>
    <script src="{% static 'web/js/odometer.min.js' %}"></script>
    <script src="{% static 'web/js/particles.min.js' %}"></script>
    <script src="{% static 'web/js/meanmenu.min.js' %}"></script>
    <script src="{% static 'web/js/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'web/js/viewer.min.js' %}"></script>
    <script src="{% static 'web/js/slick.min.js' %}"></script>
    <script src="{% static 'web/js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'web/js/jquery.ajaxchimp.min.js' %}"></script>
    <script src="{% static 'web/js/form-validator.min.js' %}"></script>
    <script src="{% static 'web/js/contact-form-script.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9.15.3/dist/sweetalert2.all.min.js"></script>
    <script src="{% static 'web/js/main.js' %}"></script>
    {% block javascript %} {% endblock %}
</body>

</html>