{% load static %}
<!-- Start Header Area -->
<header class="header-area">

    <div class="top-header-style-two d-sm-none  d-lg-block d-none">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-3">
                    <div class="top-header-logo">
                        <a href="/" class="d-inline-block">
                          
        
                            <img src="{% static 'web/img/british academy.png' %}" alt="logo">
                        </a>
                    </div>
                </div>

                <div class="col-lg-9">
                    <ul class="top-header-contact-info">
                        <li>
                            <i class='bx bx-phone-call'></i>
                            <span>Contact support</span>
                            <a href="tel:+919747513123">9747513123</a>
                        </li>
                        <!-- <li>
                            <i class='bx bx-map'></i>
                            <span>Our location</span>
                            <a href="#">HO. Kozhikode - Mavoor Road, Near Focus Mall</a>
                        </li> -->
                        <li>
                            <i class='bx bx-envelope'></i>
                            <span>Contact email</span>
                            <a href="mailto:info@britishacdemyonline.com">
                                <span >info@britishacdemyonline.com</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- Start Navbar Area -->
    <div class="navbar-area navbar-style-two">
        <div class="raque-responsive-nav">
            <div class="container">
                <div class="raque-responsive-menu">
                    <div class="logo">
                        <a href="/">
                            <img src="{% static 'web/img/british academy.png' %}" alt="logo">
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="raque-nav">
            <div class="container">
                <nav class="navbar navbar-expand-md navbar-light">
                    <div class="collapse navbar-collapse mean-menu">
                        <ul class="navbar-nav">
                            <li class="nav-item"><a href="/" class="nav-link {% if is_index %}active{% endif %}">Home</a></li>

                            <li class="nav-item"><a href="{% url 'web:about' %}" class="nav-link  {% if is_about %}active{% endif %}">About </a> </li>

                            <li class="nav-item"><a href="{% url 'web:courses_category' %}" class="nav-link  {% if is_courses_category %}active{% endif %}">Courses </a> </li>

                            <li class="nav-item"><a href="{% url 'web:events' %}" class="nav-link  {% if is_events %}active{% endif %}">Events </a> </li>

                            <li class="nav-item"><a href="{% url 'web:level-test' %}" class="nav-link  {% if is_levelTest %}active{% endif %}">Level Test</a> </li>

                            <li class="nav-item"><a href="{% url 'web:franchise' %}" class="nav-link  {% if is_franchise %}active{% endif %}">Franchise </a> </li>

                            <li class="nav-item"><a href="{% url 'web:contact' %}" class="nav-link  {% if is_contact %}active{% endif %}">Contact</a></li>
                        </ul>

                        <div class="others-option">
                            <div class="dropdown language-switcher d-inline-block">
                                <!-- <button class="dropdown-toggle" type="button" data-bs-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                    <img data-cfsrc="{% static 'web/img/us-flag.jpg' %}" class="shadow" alt="image"
                                        style="display:none;visibility:hidden;"><img
                                            src="{% static 'web/img/us-flag.jpg' %}" class="shadow"
                                            alt="image">
                                    <span>Eng <i class='bx bx-chevron-down'></i></span>
                                </button> -->

                                <!-- <div class="dropdown-menu">
                                    <a href="#" class="dropdown-item d-flex align-items-center">
                                        <img data-cfsrc="{% static 'web/img/germany-flag.jpg' %}" class="shadow-sm"
                                            alt="flag" style="display:none;visibility:hidden;"><img
                                                src="{% static 'web/img/germany-flag.jpg' %}" class="shadow-sm"
                                                alt="flag">
                                        <span>Ger</span>
                                    </a>
                                    <a href="#" class="dropdown-item d-flex align-items-center">
                                        <img data-cfsrc="{% static 'web/img/france-flag.jpg' %}" class="shadow-sm"
                                            alt="flag" style="display:none;visibility:hidden;"><img
                                                src="{% static 'web/img/france-flag.jpg' %}" class="shadow-sm"
                                                alt="flag">
                                        <span>Fre</span>
                                    </a>
                                    <a href="#" class="dropdown-item d-flex align-items-center">
                                        <img data-cfsrc="{% static 'web/img/spain-flag.jpg' %}" class="shadow-sm"
                                            alt="flag" style="display:none;visibility:hidden;"><img
                                                src="{% static 'web/img/spain-flag.jpg' %}" class="shadow-sm"
                                                alt="flag">
                                        <span>Spa</span>
                                    </a>
                                    <a href="#" class="dropdown-item d-flex align-items-center">
                                        <img data-cfsrc="{% static 'web/img/russia-flag.jpg' %}" class="shadow-sm"
                                            alt="flag" style="display:none;visibility:hidden;"><img
                                                src="{% static 'web/img/russia-flag.jpg' %}" class="shadow-sm"
                                                alt="flag">
                                        <span>Rus</span>
                                    </a>
                                    <a href="#" class="dropdown-item d-flex align-items-center">
                                        <img data-cfsrc="{% static 'web/img/italy-flag.jpg' %}" class="shadow-sm"
                                            alt="flag" style="display:none;visibility:hidden;"><img
                                                src="{% static 'web/img/italy-flag.jpg' %}" class="shadow-sm"
                                                alt="flag">
                                        <span>Ita</span>
                                    </a>
                                </div> -->
                            </div>

                            <!-- <a href="cart.html" class="cart-wrapper-btn d-inline-block">
                                <i class='bx bx-cart-alt'></i>
                                <span>01</span>
                            </a> -->

                            <div class="search-box d-inline-block">
                               <ul class="social-link d-flex">
                                <li class="header-social-li"><a href="https://www.facebook.com/britishacademyclt" class="d-block" target="_blank"><i class='bx bxl-facebook' style="color: #fff;" ></i></a></li>
                                <!-- <li class="header-social-li"><a href="#" class="d-block" target="_blank"><i class='bx bxl-twitter' style="color: #fff;"></i></a></li> -->
                                <li class="header-social-li"><a href="https://www.instagram.com/britishacademyofficial/" class="d-block" target="_blank"><i class='bx bxl-instagram' style="color: #fff;"></i></a></li>
                                <li class="header-social-li"><a href="https://youtube.com/c/ShameemsLanguageHouse" class="d-block" target="_blank"><i class='bx bxl-youtube' style="color: #fff;"></i></a></li>
                               </ul>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <!-- End Navbar Area -->

    <!-- Start Sticky Navbar Area -->
    <div class="navbar-area navbar-style-two header-sticky">
        <div class="raque-nav">
            <div class="container">
                <nav class="navbar navbar-expand-md navbar-light">
                    <div class="collapse navbar-collapse">
                        <ul class="navbar-nav">
                            <li class="nav-item"><a href="/" class="nav-link {% if is_index %}active{% endif %}">Home</a></li>

                            <li class="nav-item"><a href="{% url 'web:about' %}" class="nav-link  {% if is_about %}active{% endif %}">About </a> </li>

                            <li class="nav-item"><a href="{% url 'web:courses_category' %}" class="nav-link  {% if is_course_category %}active{% endif %}">Courses </a> </li>

                            <li class="nav-item"><a href="{% url 'web:events' %}" class="nav-link  {% if is_events %}active{% endif %}">Events </a> </li>

         
                            <li class="nav-item"><a href="{% url 'web:level-test' %}" class="nav-link  {% if is_updates %}active{% endif %}">Level Test</a> </li>

                            <li class="nav-item"><a href="{% url 'web:franchise' %}" class="nav-link  {% if is_franchise %}active{% endif %}">Franchise </a> </li>
                            <li class="nav-item"><a href="{% url 'web:contact' %}" class="nav-link  {% if is_contact %}active{% endif %}">Contact</a></li>
                        </ul>

                        <div class="others-option">
                            <div class="dropdown language-switcher d-inline-block">
                                <!-- <button class="dropdown-toggle" type="button" data-bs-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                    <img data-cfsrc="{% static 'web/img/us-flag.jpg' %}" class="shadow" alt="image"
                                        style="display:none;visibility:hidden;"><img
                                            src="{% static 'web/img/us-flag.jpg' %}" class="shadow"
                                            alt="image">
                                    <span>Eng <i class='bx bx-chevron-down'></i></span>
                                </button> -->

                                <!-- <div class="dropdown-menu">
                                    <a href="#" class="dropdown-item d-flex align-items-center">
                                        <img data-cfsrc="{% static 'web/img/germany-flag.jpg' %}" class="shadow-sm"
                                            alt="flag" style="display:none;visibility:hidden;"><img
                                                src="{% static 'web/img/germany-flag.jpg' %}" class="shadow-sm"
                                                alt="flag">
                                        <span>Ger</span>
                                    </a>
                                    <a href="#" class="dropdown-item d-flex align-items-center">
                                        <img data-cfsrc="{% static 'web/img/france-flag.jpg' %}" class="shadow-sm"
                                            alt="flag" style="display:none;visibility:hidden;"><img
                                                src="{% static 'web/img/france-flag.jpg' %}" class="shadow-sm"
                                                alt="flag">
                                        <span>Fre</span>
                                    </a>
                                    <a href="#" class="dropdown-item d-flex align-items-center">
                                        <img data-cfsrc="{% static 'web/img/spain-flag.jpg' %}" class="shadow-sm"
                                            alt="flag" style="display:none;visibility:hidden;"><img
                                                src="{% static 'web/img/spain-flag.jpg' %}" class="shadow-sm"
                                                alt="flag">
                                        <span>Spa</span>
                                    </a>
                                    <a href="#" class="dropdown-item d-flex align-items-center">
                                        <img data-cfsrc="{% static 'web/img/russia-flag.jpg' %}" class="shadow-sm"
                                            alt="flag" style="display:none;visibility:hidden;"><img
                                                src="{% static 'web/img/russia-flag.jpg' %}" class="shadow-sm"
                                                alt="flag">
                                        <span>Rus</span>
                                    </a>
                                    <a href="#" class="dropdown-item d-flex align-items-center">
                                        <img data-cfsrc="{% static 'web/img/italy-flag.jpg' %}" class="shadow-sm"
                                            alt="flag" style="display:none;visibility:hidden;"><img
                                                src="{% static 'web/img/italy-flag.jpg' %}" class="shadow-sm"
                                                alt="flag">
                                        <span>Ita</span>
                                    </a>
                                </div> -->
                            </div>

                            <!-- <a href="cart.html" class="cart-wrapper-btn d-inline-block">
                                <i class='bx bx-cart-alt'></i>
                                <span>01</span>
                            </a> -->

                            <div class="search-box d-inline-block">
                                <ul class="social-link d-flex">
                                    <li class="header-social-li"><a href="#" class="d-block" target="_blank"><i class='bx bxl-facebook' ></i></a></li>
                                    <li class="header-social-li"><a href="#" class="d-block" target="_blank"><i class='bx bxl-instagram'></i></a></li>
                                    <li class="header-social-li"><a href="#" class="d-block" target="_blank"><i class='bx bxl-youtube'></i></a></li>
                                    <!-- <li class="header-social-li"><a href="#" class="d-block" target="_blank"><i class='bx bxl-linkedin'></i></a></li> -->
                                   </ul>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <!-- End Sticky Navbar Area -->

</header>
<!-- End Header Area -->